<footer>
  <div class="footer-bottom">

  <div class="logo "> <img src="../assets/images/icons/logo_vert-removed.png" alt=""  height="58px" width="115px" >  </div>
  </div>
<div class="footer-content">

  <div class="content">

<div class="row aic  gap-50  wrap">


<div class="footer-twidget  flex-1   "> <h4 class="widget-title">Campany </h4>
<ul  class="footer-list">
<li><a href="#">About Us</a></li>
<li><a href="#">Delivery Information</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms &amp; Conditions</a></li>
<li><a href="#">Contact Us</a></li>

</ul>
</div>

<div class="footer-twidget   flex-1     "> <h4 class="widget-title">Account
  </h4>
<ul class="footer-list   flex-1">
<li><a href="#">Sign In </a></li>
<li><a href="#">My Wishlist</a></li>
<li><a href="#">Track My Order</a></li>
<li><a href="#">Compare Products</a></li>
<li><a href="#">Shipping Details</a></li>


</ul>
</div>

<div class="footer-twidget  flex-1"> <h4 class="widget-title">Corporate
  </h4>
<ul class="footer-list   flex-1s">
  <li><a href="#">Promotions</a></li>
  <li><a href="#">Accessibility</a></li>
  <li><a href="#">Farm Business</a></li>
<li><a href="#">Becomme a vendor</a></li>
<li><a href="#">Affiliate Program</a></li>


</ul>
</div>



<div class="footer-card  ">  <h4 class="widget-card "> Install App</h4>       <p>From App Store or google Play</p>
  <div class="download-app  flex gap-5  ">  <img src="../assets/images/card/google-play.svg" alt="google-play">        <img src="../assets/images/card/apple-store.svg" alt="apple-store">           </div>



<div class="secured Payment"><p>Secured Payment Gateways   </p>

<app-payment-card></app-payment-card>
</div>



</div>









</div>







</div>


  </div>



</footer>


