
<div class="product-item" >
  <div class="product-image" [routerLink]=" ['/product',product?.slug]">

              <img [src]=" product ?  product.imageUrl[1]: ''" height="200px" width="200px" [alt]="product?.name">


              <!-- <button class="btn-favorite" (click)="toggleFavorite(product, $event)">
  <svg viewBox="0 0 24 24" width="24" height="24">
    <path
      [attr.fill]="isFavoris ? '#f7941d' : 'white'"
      [attr.stroke]="'#f7941d'"
      stroke-width="2"
      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
         2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
         C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5
         c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
  </svg>
</button> -->

<button class="btn-favorite" (click)="ajouterAuxFavoris(product, $event)">
  <svg viewBox="0 0 24 24" width="24" height="24">
    <path
      fill="#f7941d"
      stroke="#f7941d"
      stroke-width="2"
      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
         2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
         C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5
         c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
  </svg>
</button>

  </div>


    <div class="product-detail">
            <div class="product-name"> <h3> {{ product?.name?.substring(0,40)}}

            {{product && product.name[41] ? "...":null   }}
           </h3>
    <div class="product-price">
          <h4>€ {{ (product?.sold_price|| 0 )/100  }}  &nbsp;
          <del>  {{(product?.regular_price|| 0)/100 }} €  </del>
          </h4>


<div class="product-action-button flex gap-10 ">
<button class="btn" (click)="handleClickProduct(product)"  >👁 View </button>
</div>

        </div>

    </div>
  </div>

<a href=""></a>



