
<div class="aside-nav mobile-">


     <ul class="unlisted">

            <li *ngFor="let item of navs_data"><a (click)="handleClose()"[routerLink]="item?.path">{{item?.name}}</a></li>
<a [routerLink]="'/panier'" class="panier-icon"   >
  <img src="/assets/images/icons/Panier.png" alt="Panier" />
  <span class="panier-count">{{ totalProduits }}</span>
</a>
            <li *ngFor="let item of auths_data"><a (click)="handleClose()" [routerLink]="item?.path" class="btn">{{item?.name}}</a></li>

     </ul>

</div>
