
<!-- barre de recherche -->
<div class="search-bar" *ngIf="!isLoading">
  <input
    type="text"
    placeholder="🔍 Rechercher un produit..."
    [(ngModel)]="filter"
    (input)="applyFilter()"
  />
</div>
<div id="toast" class="toast">Produit ajouté au panier ✅</div>
<div class="product-list" >
  <app-loading *ngIf="isloading"></app-loading>


<!-- <app-product-item
  *ngFor="let product of products | paginate: { itemsPerPage: pageSize, currentPage: page }"
  [product]="product"
  (quickView)="handleDisplayProductViewModal($event)">
</app-product-item> -->

<!-- mettre filteredProducts pour pour la barre de recherche -->
<app-product-item
  *ngFor="let product of filteredProducts | paginate: { itemsPerPage: pageSize, currentPage: page }"
  [product]="product"
  (quickView)="handleDisplayProductViewModal($event)">
</app-product-item>



  <!-- <div class="bar" *ngIf="!isloading && !products.length">Désoler aucun article n'est disponible pour le moment</div> -->
<div class="bar" *ngIf="!isloading && !filteredProducts.length">
  Désolé, aucun article ne correspond à votre recherche
</div>


  <!-- <pagination-controls
    *ngIf="products.length > pageSize"
    (pageChange)="page = $event"
    previousLabel="Précédent"
    nextLabel="Suivant">
  </pagination-controls> -->

  <!-- barre de recherche -->
<pagination-controls
  *ngIf="filteredProducts.length > pageSize"
  (pageChange)="page = $event"
  previousLabel="Précédent"
  nextLabel="Suivant">
</pagination-controls>


  <app-modal-product-view *ngIf="isDisplayModal && modalProduct"
  [product]="modalProduct"  (close)="handleCloseModal()"        ></app-modal-product-view>




  </div>




