<!--
<app-loading *ngIf="isloading"></app-loading>
<div *ngIf="!isloading" class="single-product flex gap-10 content ">



<div class="single-product-image-current">
  <div class="single-product-image flex-1 gap-5 flex">
<div class="single-product-image-list flex column gap-5">

<img class="imgsmall"
*ngFor="let url of product?.imageUrl"
[src]= "url" [alt]="product?.name" width="100px" height="100px" (click)="handleChangeCurrentImage(url)"
(mouseover)="handleChangeCurrentImage(url)"
[ngClass]="{current: currentImage == url}" >



</div>
<img class="current-image"  [src]= "currentImage" [alt]="product?.name" width="400px" height="425px" > -->
<!-- <img   [src]= "product ? product.imageUrl[0] :''" [alt]="product?.name" width="400px" height="420px" > -->

<!--
<div class="single-product-details ">
<h1>{{product?.name}}</h1>
  <div class="modul-product-view-details-price">  <h4>{{(product?.sold_price || 0)/100 | currency: "EUR"}}
    <del>{{(product?.regular_price ||0) /100 | currency: "EUR"}}</del> </h4>  </div>
  <div class="modal-product-view-created_at">créer le {{product?.created_at|date:"dd/MM/YYY"}}</div>

<div class="product-action-button ">
<button class="btn">Pay now</button>
</div>

</div>

</div>

</div> -->


<app-loading *ngIf="isloading"></app-loading>
<div *ngIf="!isloading" class="single-product flex-1 gap-10 content ">

  <!------------------------- Bloc image ------------------------------------------->
  <div class="single-product-image-current">
    <div class="single-product-image flex-1 gap-10 flex">
      <div class="single-product-image-list flex column gap-5">
        <img class="imgsmall"
          *ngFor="let url of product?.imageUrl"
          [src]= "url" [alt]="product?.name"
          width="100px" height="100px"
          (click)="handleChangeCurrentImage(url)"
          (mouseover)="handleChangeCurrentImage(url)"
          [ngClass]="{current: currentImage == url}" >
      </div>
      <img class="current-image" [src]= "currentImage" [alt]="product?.name" width="390px" height="436px" >
    </div>
 <app-loading *ngIf="isloading"></app-loading>


<!---------------------------detail des produits---------------------- -->
 <div class="single-product-details flex-1 gap-10   ">
    <h1>{{product?.name}}</h1>
    <div class="modul-product-view-details-price ">
      <h4>
        {{(product?.sold_price || 0)/100 | currency: "EUR"}}
        <del>{{(product?.regular_price ||0) /100 | currency: "EUR"}}</del>
      </h4>
<h4 *ngIf="product"  class="discount-percentage"            >
  {{ ((product.regular_price - product.sold_price) / product.regular_price) | percent:'1.0-0'  }}
</h4>

    </div>
    <div class="modal-product-view-created_at">
      créer le {{product?.created_at|date:"dd/MM/YYY"}}
    </div>
    <div class="product-action-button  aic">
      <button class="btn">Pay now</button>
      <button class="product-action-button">

<!-------------------------- option quantité ------------------------>
<div class="quantity-selector">

  <button class="btn"(click)="ajouterAuPanier()"> <img src="/assets/images/icons/Panier.png" alt="Panier" width="24" height="24" /></button>

 <select [(ngModel)]="selectedQuantity" id="quantity" size="1">
  <option *ngFor="let n of [1,2,3,4,5]" [value]="n">
    {{ n }}
  </option>
</select>

</div>

<!-- ---------------------------------------------------------------------------- -->




 <span class="icon">🛒</span>
    <span class="text">Add to Cart</span>

</button>
      <app-payment-card></app-payment-card>

    </div>

  </div>

  </div>
  <div class="single-product-details flex-1">
</div>

</div>
<app-product-details [product]="product"></app-product-details>

<!-- Produits similaires (image + prix uniquement) -->

<div class="similar-products" *ngIf="similarProducts.length > 0">
  <h3 class="section-title">Produits similaires</h3>

  <div class="similar-products-list">
    <div
      class="similar-product-card"
      *ngFor="let product of similarProducts"

    >
      <!-- Image -->
      <img
        [src]="product.imageUrl[0]"
        [alt]="product.name"
        class="similar-product-img"
        [routerLink]=" ['/product',product?.slug]"
      />

      <!-- Prix -->
      <div class="similar-product-price">
        {{ (product.sold_price || 0) / 100 | currency:'EUR' }}
      </div>
    </div>
  </div>
</div>



<!-- bouton favoris -->









