/* ======= Conteneur page ======= */
.favoris-page {
  min-height: 40vh;
  margin: 12% 5%;       /* marge en haut et bas, 5% à gauche et droite */
 margin-top: 10%;
}
.empty-message{
justify-content: center;
align-items: center;
display: flex;
}
/* ======= Titre ======= */
h2 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  font-family: sweet sans pro;
}

/* ======= Liste des favoris ======= */
.favoris-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

/* ======= Carte produit ======= */
.favori-card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
  max-width: 280px;
  margin: auto;
font-family: sweet sans pro;
}

.favori-card:hover {
  transform: translateY(-4px);
}

/* ======= Image produit ======= */
.favori-img {
  width: 100%;           /* prend toute la largeur de la carte */
  height: 230px;         /* uniformise la hauteur */
      /* recadre l'image pour remplir la carte */
  border-radius: 8px;

}

/* ======= Bouton fermer (croix) ======= */
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  color: #4a4949;
  font-size: 20px;
  cursor: pointer;
}

.btn-close:hover {
  color: #a94442;
}

/* ======= Bouton ajouter au panier ======= */
.btn-panier {
  margin-top: 10px;
  padding: 8px 14px;
  background: #f7941d;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: background 0.3s;
  font-size: 14px;
  width: 100%;           /* bouton sur toute la largeur */
}

.btn-panier:hover {
  background: #d97a00;
}

/* ======= Bouton vider tous ======= */
.btn-clear {
  display: block;
  margin: 20px auto 0;   /* espace et centrage */
  padding: 8px 16px;
  background: #dc3545;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn-clear:hover {
  background: #b52b37;
  transform: scale(1.05);
}


.toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #4CAF50; /* vert pour succès */
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
  font-family: sweet sans pro;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}


@media screen  and (max-width:900px ){
.favoris-page {
   margin-top: 30%;
}

}
