<div class="favoris-page">
  <h2>💖 Mes favoris</h2>
<div id="toast" class="toast">Produit ajouté au panier ✅</div>

  @if (favoris.length === 0) {
    <p class="empty-message">Aucun produit en favoris.</p>
  } @else {
    <div class="favoris-list">
      @for (product of favoris; track product._id) {
        <div class="favori-card">
          <!-- Bouton retirer (croix en haut à droite) -->
          <button class="btn-close" (click)="retirer(product)">✖</button>

          <img
            [src]="product.imageUrl[0]"
            [alt]="product.name"
            class="favori-img"
          />

          <h3 class="favori-name">{{ product.name }}</h3>
          <p class="favori-price">
            {{ (product.sold_price || 0) / 100 | currency: 'EUR' }}
          </p>

          <div class="favori-actions">
            <button class="btn-panier" (click)="ajouterAuPanier(product)">
              <img
                src="/assets/images/icons/Panier.png"
                alt="Panier"
                width="18"
                height="18"
              />
              Ajouter au panier
            </button>
          </div>
        </div>
      }
    </div>

    <button class="btn-clear" (click)="clear()">
      🗑️ Vider tous les favoris
    </button>
  }
</div>




